@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h2>Azure Key Vault Secret</h2>
        <div class="row">
            <h3 style="color:orangered;"> @ViewBag.Keyvalue </h3>

        </div>
        <div class="row">
            <h3 style="color:orangered;"> @ViewBag.Keyvalue1 </h3>

        </div>
    </div>
    </div>
